a {
  color: currentcolor;
  text-decoration: none;
}

a.link {
  text-decoration: underline;
}

a.link:hover,
a.link:focus {
  color: var(--white);
}

a.link:hover.link--disabled,
a.link:focus.link--disabled {
  color: currentcolor;
}

a.link--disabled {
  cursor: default;
  opacity: 0.5;
}
