:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #204d66;
  --complementary: #663920;
  --analogous--primary: #20665c;
  --analogous--primary-10: #20665c10;
  --analogous--secondary: #202a66;
  --analogous--secondary-10: #202a6610;
  --split-complementary--primary: #665c20;
  --split-complementary--secondary: #66202a;
  --triadic--primary: #4d6620;
  --triadic--secondary: #66204d;
  --tetradic--primary: #206639;
  --tetradic--secondary: #66204d;
  --tetradic--tertiary: #663920;
  --monochromatic--darker: #0e212c;
  --monochromatic--dark-deep: #14303f;
  --monochromatic--dark: #1a3e53;
  --monochromatic--light: #265c79;
  --monochromatic--light--deep: #2c6a8d;
  --monochromatic--lighter: #3279a0;
}
