---
export enum ButtonModifiers {
  Primary = "primary",
  Secondary = "secondary",
  Tertiary = "tertiary",
}

export interface ButtonProps {
  label: string;
  modifier: ButtonModifiers;
  link: string;
}

const { label, modifier, link } = Astro.props;
---

<a href={link} class:list={["button", `button--${modifier}`]}>
  <span class="label">{label}</span>
</a>

<style>
  .label {
    color: inherit;
  }
</style>
