---
import Section from "../molecules/Section.astro";

interface Props {
  title?: string;
  summary?: string;
}

const { title, summary } = Astro.props;
---

<Section>
  <main class="flex flex-col gap-4">
    <h2>{title}</h2>
    <p>{summary}</p>
  </main>
</Section>
