---
import Institution, {
  type Props as InstitutionProps,
} from "../molecules/Institution.astro";
import Section from "../molecules/Section.astro";

interface Props {
  title?: string;
  list?: InstitutionProps[];
}

const { title, list } = Astro.props;
---

<Section>
  <h2>{title}</h2>
  <ul>
    {
      list?.map((institution) => (
        <li>
          <Institution {...institution} />
        </li>
      ))
    }
  </ul>
</Section>
