---
import Institution, {
  type Props as InstitutionProps,
} from "../molecules/Institution.astro";
import Section from "../molecules/Section.astro";

interface Props {
  title?: string;
  list?: InstitutionProps[];
}

const { title, list } = Astro.props;
---

<Section>
  <div class="body">
    <h2>{title}</h2>
    <ul>
      {
        list?.map((institution) => (
          <li>
            <Institution {...institution} />
          </li>
        ))
      }
    </ul>
  </div>
</Section>

<style>
  .body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
</style>
