---
import Project, {
  type Props as ProjectProps,
} from "../molecules/Project.astro";
import Section from "../molecules/Section.astro";

interface Props {
  title?: string;
  list?: ProjectProps[];
}

const { title, list } = Astro.props;
---

<Section>
  <div class="body flex flex-col gap-4">
    <h2>{title}</h2>
    <ul class="flex flex-col gap-6">
      {
        list?.map((project) => (
          <li>
            <Project {...project} />
          </li>
        ))
      }
    </ul>
  </div>
</Section>
