---
import Position, {
  type Props as PositionProps,
} from "../molecules/Position.astro";
import Section from "../molecules/Section.astro";

interface Props {
  title?: string;
  list?: PositionProps[];
}

const { title, list } = Astro.props;
---

<Section>
  <h2>{title}</h2>
  <ul>
    {
      list?.map((position) => (
        <li>
          <Position {...position} />
        </li>
      ))
    }
  </ul>
</Section>
