---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Aleayza is a free and open-source template, built with Astro and TypeScript. It serves as a starting point for creating your personal portfolio website or showcasing your projects online. The template is open-source and released under the MIT license, meaning you are free to use, modify, and distribute it for personal or commercial purposes."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="layout">
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --white: #ffffff;
    --black: #000000;
    --primary: #800080;
    --complementary: #008000;
    --analogous--primary: #400080;
    --analogous--primary-10: #40008010;
    --analogous--secondary: #800040;
    --analogous--secondary-10: #80004010;
    --split-complementary--primary: #008040;
    --split-complementary--secondary: #408000;
    --triadic--primary: #008080;
    --triadic--secondary: #808000;
    --tetradic--primary: #000080;
    --tetradic--secondary: #808000;
    --tetradic--tertiary: #008000;
    --monochromatic--darker: #340034;
    --monochromatic--dark-deep: #4d004d;
    --monochromatic--dark: #670067;
    --monochromatic--light: #9a009a;
    --monochromatic--light--deep: #9a009a;
    --monochromatic--lighter: #cd00cd;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  h1,
  h2 {
    text-transform: uppercase;
  }

  h1 {
    color: var(--primary);
    font-weight: bold;
    font-size: 2rem;
  }

  h2 {
    color: var(--monochromatic--dark-deep);
    font-size: 1.5rem;
  }

  h3 {
    color: var(--analogous--secondary);
    font-size: 1.25rem;
  }

  dt {
    color: var(--analogous--secondary);
    font-size: 1.15rem;
  }

  a {
    transition: color 0.2s ease;
  }

  a.link {
    text-decoration: underline;
  }

  a.link:hover,
  a.link:focus {
    color: var(--analogous--primary);
  }

  a.link:hover.link--disabled,
  a.link:focus.link--disabled {
    color: inherit;
  }

  a.link--disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  p {
    max-width: 75ch;
  }

  li::marker {
    color: var(--analogous--secondary);
  }

  .responsive--mobile {
    @media (width >=26.875rem) {
      display: none;
    }
  }

  .responsive--tablet {
    @media (width >=48rem) {
      display: none;
    }
  }

  .responsive--desktop {
    @media (width <=64rem) {
      display: none;
    }
  }

  .print {
    display: none !important;
  }

  @media print {
    .no-print {
      display: none !important;
    }

    .print {
      display: block !important;
    }
  }

  .layout {
    display: flex;
    min-height: 100svh;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1.75rem;

    @media (min-width: 48rem) {
      padding: 4rem 2rem;
    }
  }
</style>
