---
import Footer from "../components/organisms/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Aleayza is a free and open-source template, built with Astro and TypeScript. It serves as a starting point for creating your personal portfolio website or showcasing your projects online. The template is open-source and released under the MIT license, meaning you are free to use, modify, and distribute it for personal or commercial purposes."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="layout">
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --white: #ffffff;
    --black: #000000;
    --primary: #204d66;
    --complementary: #663920;
    --analogous--primary: #20665c;
    --analogous--primary-10: #20665c10;
    --analogous--secondary: #202a66;
    --analogous--secondary-10: #202a6610;
    --split-complementary--primary: #665c20;
    --split-complementary--secondary: #66202a;
    --triadic--primary: #4d6620;
    --triadic--secondary: #66204d;
    --tetradic--primary: #206639;
    --tetradic--secondary: #66204d;
    --tetradic--tertiary: #663920;
    --monochromatic--darker: #0e212c;
    --monochromatic--dark-deep: #14303f;
    --monochromatic--dark: #1a3e53;
    --monochromatic--light: #265c79;
    --monochromatic--light--deep: #2c6a8d;
    --monochromatic--lighter: #3279a0;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    color: var(--monochromatic--darker);
  }

  a.link {
    text-decoration: underline;
  }

  a.link:hover,
  a.link:focus {
    color: var(--complementary);
  }

  a.link:hover.link--disabled,
  a.link:focus.link--disabled {
    color: inherit;
  }

  a.link--disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  p {
    max-width: 75ch;
  }

  @media (width >= 48em) {
    .container {
      margin: 0 auto;
    }
  }

  .background--primary {
    background-color: var(--white);
  }

  .background--secondary {
    background-color: var(--black);
  }

  .cursor--pointer {
    cursor: pointer;
  }

  .display--none {
    display: none;
  }

  .display--block {
    display: block;
  }

  .display--inline {
    display: inline;
  }

  .display--flex {
    display: flex;
  }

  .display--grid {
    display: grid;
  }

  .position--static {
    position: static;
  }

  .position--relative {
    position: relative;
  }

  .position--absolute {
    position: absolute;
  }

  .position--fixed {
    position: fixed;
  }

  .position--sticky {
    position: sticky;
  }

  .responsive--mobile {
    @media (width >=26.875rem) {
      display: none;
    }
  }

  .responsive--tablet {
    @media (width >=48rem) {
      display: none;
    }
  }

  .responsive--desktop {
    @media (width <=64rem) {
      display: none;
    }
  }

  .print {
    display: none !important;
  }

  @media print {
    .no-print {
      display: none !important;
    }

    .print {
      display: block !important;
    }
  }

  .layout {
    display: grid;
    min-height: 100svh;
    grid-template-columns: 1fr auto;
    padding: 2rem 1rem;
  }

  @media (min-width: 48rem) {
    .layout {
      padding: 4rem 2rem;
    }
  }
</style>
